body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
header{
    background-color: #404146;
    
}
.header-right{
    display: inline-block;
    width: 15%;
    
}
.header-left{
    display: inline-block;
    left: 85%;
}
.header-right a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.header-left ul{
    display: flex;
    
}
.header-left li{
list-style: none;
margin: 0px 15px;

}
.header-left a{
    text-decoration: none;
    color: white;
}
main{
    text-align: center;
}
main span{
    color: #f1d00e;
}
main img{
    width: 250px;
}
main h1{
    font-size: 80px;
    word-spacing: 10px;
    margin-bottom: 0px;
}
main h2{
    font-size: 30px;
}
.about-me{
    background-color: #f4f4f4;
    padding: 40px 0px;
    text-align:center
}
.selection{
    margin: 0px 100px;
}
.content{
    text-align: center;
    padding-top: 40px;
}
.product-list{
    text-align: center;
    display: flex;
}
.product{
    width: 30%;
    margin-right: 50px;
    margin-left: 20px;
   
}
.product-list img{
    width: 100%;
}
.form{
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 100px;
   padding-top: 50px; 
   padding-bottom: 40px;
   height: auto;
}
.form-input{
   width: 100%;
   text-align: center;
   justify-content: center;
}
input ,textarea{
    width:400px;
  margin-top:10px;
  margin-bottom:30px;
  margin-right: auto;
  margin-left: auto;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
  border: none;
  display: block;
  border-radius: 15px;

}
.btn{
    background-color: #ffeb79;
}
footer{
    background-color: #7c7d82;
    color: white;
    display: flex;
    position: relative;
    height: auto;
    padding: 20px;
}
.footer-left{
    margin-left: 10px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
}
.footer-right{
    float: right;
    position: absolute;
    right: 50px;
    top: 50px;
}
.footer-right li{
    list-style: none;
    margin: 4px;
}
